<ion-view hide-nav-bar="true">
    <!--ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Tycho</h1>
    </ion-header-bar-->

    <ion-content class="padding text-center">

        <h1 class="title padding-top">Tycho</h1>

        <h3 style="color:rgb(128,128,128);">A Universe of knowledge</h3>
        <div class="padding"></div>
        <a ui-sref="app.fileViewer">
            <button class="button button-positive button-full" >
            Start
            </button>
        </a>
    </ion-content>

</ion-view>
