<!--
  Generated template for the NsbmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{nsbService.getGameTypeFormatted()}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div  *ngIf="!(options && options.mode && options.difficulty && nsbService.metadata)">
    Loading...
  </div>
  <div *ngIf="options && options.mode && options.difficulty && nsbService.metadata">
    <ion-list radio-group>
      <ion-item>
          <ion-label>Difficulty</ion-label>
          <ion-select [(ngModel)]="options.difficulty">
              <ion-option *ngFor="let o of getDifficulties()" [value]="o.value || o.label || o">
                {{o.label || o}}
              </ion-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="options.difficulty">
          <ion-label *ngIf="options.gameType=='NSB'">Vendor</ion-label>
          <ion-label *ngIf="options.gameType=='QB'">Sub-difficulty</ion-label>
          <ion-select [(ngModel)]="options.vendorNum">
              <ion-option *ngFor="let o of getVendors()" [value]="o">{{prettifyVendorName(o)}}</ion-option>
              <ion-option *ngIf="options.gameType=='NSB'" [value]="'RANDOM'">Random</ion-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf = "options.vendorNum && options.vendorNum == 'RANDOM'">
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="options.category">
            <ion-option *ngFor="let o of getCategories()" [value]="o">{{o.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf = "options.vendorNum && options.vendorNum != 'RANDOM'">
        <ion-label>Set</ion-label>
        <ion-select [(ngModel)]="options.setNum">
            <ion-option *ngFor="let o of getSets()" [value]="o">{{o}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf = "options.setNum && options.vendorNum != 'RANDOM'">
          <ion-label>Packet</ion-label>
          <ion-select [(ngModel)]="options.packetNum">
              <ion-option *ngFor="let o of getPackets()" [value]="o">{{o}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-list>

    <ion-list radio-group [(ngModel)]="options.mode">
        <ion-item *ngFor="let o of optionValues.mode" > 
          <ion-label color="dark">{{o.label || o}}</ion-label>
          <ion-radio value="{{o.value || o.label || o}}"></ion-radio>
        </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="options.audio">
        <ion-item *ngFor="let o of optionValues.audio" > 
          <ion-label color="dark">{{o.label || o}}</ion-label>
          <ion-radio value="{{o.value || o.label || o}}"></ion-radio>
        </ion-item>

    </ion-list>
  </div>
  <ion-list>
    <ion-item text-center>
      <button ion-button color="primary" large (click)="navigateNsbappPage()" class="mainBtn">Start</button>
    </ion-item>
  </ion-list>

</ion-content>
