page-splash * {
    background: black;
}
.outplayedContainer {
    height: 30%;
    margin-bottom: 10%;
}
.logoContainer {
    height: 50%;
    img {
        //max-width: 50%;
    }
}
.outplayedContainer, .logoContainer {
    text-align: center;
    img {
        width: auto;
        max-height: 100%;
        margin: 0 auto;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }



/*.ios, .md {
    
       page-splash {
    
           .scroll-content {
               display: flex;
               justify-content: center;
               align-items: center;
           }
    
           #bars {
               height: 80%;
    
               .cls-1 {
                   opacity: 0;
                   transform: rotate3d(1, 1, 0, 50deg);
                   animation: 1s 0.2s ease fadeInAndSpin;
                   animation-fill-mode: forwards;
               }
    
               .cls-2 {
                   opacity: 0;
                   transform: rotate3d(1, 1, 0, 50deg);
                   animation: 1s 0.4s ease fadeInAndSpin;
                   animation-fill-mode: forwards;
               }
    
               .cls-3 {
                   opacity: 0;
                   transform: rotate3d(1, 1, 0, 50deg);
                   animation: 1s 0.6s ease fadeInAndSpin;
                   animation-fill-mode: forwards;
               }
    
               .cls-4 {
                   opacity: 0;
                   transform: rotate3d(1, 1, 0, 50deg);
                   animation: 1s 0.8s ease fadeInAndSpin;
                   animation-fill-mode: forwards;
               }
    
               .cls-5, .cls-6 {
                   opacity: 0;
                   animation: 2s 1.5s linear fadeIn;
                   animation-fill-mode: forwards;
               }
    
           }
    
       }
    
   }
    
   @keyframes fadeInAndSpin {
    
       100% {
           opacity: 1;
           transform: rotate3d(1, 1, 0, 0deg);
       }
    
   }
    
   @keyframes fadeIn {
    
       100% {
           opacity: 1;
       }
    
   }
*/