<!--
  Generated template for the NsbappPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Science Bowl</ion-title>

    <ion-buttons end>
        <button ion-button icon-only menuToggle="TipMenu">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>


  <div *ngIf="currentQuestion">
    Set {{options.setNum}} | Round {{options.packetNum}} | {{ currentQuestionNumber + 1}} out of {{questions.length}}<br><br>
    <div>
      <span *ngIf="(progress == 0 || progress == 1)">
        <b>TOSSUP:</b>
        <span [innerHTML]="currentQuestion.tossupQ"></span>
      </span>

      <span *ngIf="(progress == 2 || progress == 3)">
        <b>BONUS:</b>
        <span [innerHTML]="currentQuestion.bonusQ"></span>
      </span>
    </div>
    <div>
        <span *ngIf="(progress == 1)">
          <b>ANSWER: </b>{{currentQuestion.tossupA}}
        </span>
        
        <span *ngIf="(progress == 3)">
          <b>ANSWER: </b>{{currentQuestion.bonusA}}
        </span>        
    </div>

    </div>

  <ion-footer>
      <ion-toolbar>
        <button (click)="previousQuestion()" ion-button btn-lg>Previous question</button>
        <button (click)="nextQuestion()" ion-button btn-lg>Next question</button>
        <button color="timerButtonColor" (click)="clickTimer(timers.tossup)" ion-button btn-lg>
          Tossup Timer - &nbsp;<b>{{timers.tossup.text}} s</b>
        </button>
        <button color="timerButtonColor" (click)="clickTimer(timers.bonus)" ion-button btn-lg>
          Bonus Timer - &nbsp;<b>{{timers.bonus.text}} s</b>
        </button>
      </ion-toolbar>
    </ion-footer>

    <!--button color="buzzButtonColor" ion-button btn-lg>Buzz</button-->

    
    
</ion-content>