<!--
  Generated template for the NsbappPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Science Bowl</ion-title>

    <ion-buttons end>
        <button ion-button icon-only menuToggle="TipMenu">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding
[ngClass]="{'no-scroll': true, 'mode': true, 'game': nsbService.options.mode=='GAME', 'reader': nsbService.options.mode=='READER'}"
>

<ion-scroll scrollY="true"
>
  <div class="currentQuestion" *ngIf="currentQuestion">
    Set {{options.setNum}} | Round {{options.packetNum}} | {{ currentQuestionNumber + 1}} out of {{questions.length}}<br><br>
    <!--
      <div *ngIf="false">
        <span *ngIf="(progress == 0 || progress == 1)">
          <b>TOSSUP:</b>
          <span [innerHTML]="currentQuestion.tossupQ"></span>
        </span>

        <span *ngIf="(progress == 2 || progress == 3)">
          <b>BONUS:</b>
          <span [innerHTML]="currentQuestion.bonusQ"></span>
        </span>
      </div>
      <div *ngIf="false">
          <span *ngIf="(progress == 1)">
            <b>ANSWER: </b>{{currentQuestion.tossupA}}
          </span>
          
          <span *ngIf="(progress == 3)">
            <b>ANSWER: </b>{{currentQuestion.bonusA}}
          </span>        
      </div>
    -->
    <div [innerHTML]="currentQuestionDisplayed.question">

    </div>
    <br><br>
    <div [innerHTML]="currentQuestionDisplayed.answer">
      
    </div>

  </div>
</ion-scroll>
<button *ngIf="(nsbService.options.mode == 'GAME')" (click)="nextQuestion()" color="danger" ion-button class="noSkew buzzBtn">BUZZ</button>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-sm-3>
          <button (click)="previousQuestion()" ion-button btn-lg>Previous question</button>
        </ion-col>
        <ion-col col-6 col-sm-3>
          <button (click)="nextQuestion()" ion-button btn-lg>Next question</button>
        </ion-col>
        <ion-col col-6 col-sm-3>
          <button color="timerButtonColor" (click)="clickTimer(timers.tossup)" ion-button btn-lg>
            Tossup Timer - &nbsp;<b>{{timers.tossup.text}} s</b>
          </button>
        </ion-col>
        <ion-col col-6 col-sm-3>
          <button color="timerButtonColor" (click)="clickTimer(timers.bonus)" ion-button btn-lg>
            Bonus Timer - &nbsp;<b>{{timers.bonus.text}} s</b>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

    <!--button color="buzzButtonColor" ion-button btn-lg>Buzz</button-->

    
    
</ion-content>