<!--
  Generated template for the NsbappPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Science Bowl</ion-title>

    <ion-buttons end>
        <button ion-button icon-only menuToggle="TipMenu">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>


  <div *ngIf="currentQuestion">
    {{currentQuestion.tossupQ}}

    {{currentQuestion.tossupA}}

    {{currentQuestion.bonusQ}}

    {{currentQuestion.bonusA}}
  </div>

    <button color="buzzButtonColor" ion-button btn-lg>Buzz</button>

    <button ng-click="nextQuestion()" ion-button btn-lg>Next question</button>
    
</ion-content>